html {
    scroll-padding-top: 60px;
}

body {
    background-color: #FFFFBA;
}

li::marker {
    font-weight: bold;
}

.text-gradient {
    text-decoration: underline double red;
    background: linear-gradient(135deg, #66CCFF, #66FFFF);
    border-radius: 8px;
}

.img {
    width: 120px;
    height: 120px;
}

.img-box {
    display: flex;
    justify-content: right;
}